@font-face {
    font-family: 'IRANSans';
    src: url('../fonts/IranSans/woff/IRANSansX-Regular.woff') format('woff');
    src: url('../fonts/IranSans/woff2/IRANSansX-Regular.woff2') format('woff2'),
         url('../fonts/IranSans/woff/IRANSansX-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSans';
    src: url('../fonts/IranSans/woff2/IRANSansX-Bold.woff2') format('woff2'),
         url('../fonts/IranSans/woff/IRANSansX-Bold.woff') format('woff'),
         url('../fonts/IranSans/woff/IRANSansX-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* این باعث میشه کل سایت از فونت استفاده کنه */
* {
    font-family: 'IRANSans', sans-serif !important;
}

